/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding and margin */
html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Helvetica Neue", Arial, sans-serif;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*--------------------------------*/

body {
  background-color: #000525;
  font-family: "din-2014", sans-serif;
}

.container {
  width: 100%;
  max-width: 1220px;
  margin-left: auto;
  margin-right: auto;
}

#header {
  padding-left: 40px;
  border-bottom: solid 2px #ff005a;
}
.npi-container {
  position: relative;
  display: flex;
  align-items: center;
}

.npi-info-icon {
  position: absolute;
  right: 35px;
  top: 10px;
  cursor: pointer;
}

.npi-hover-modal {
  display: none;
  position: absolute;
  bottom: 100%;
  right: 30px;


  padding: 8px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.npi-info-icon:hover + .npi-hover-modal {
  display: block;
}
.logo {
  margin-top: 15px;
  margin-bottom: 15px;
}

#heroContent {
  position: relative;
  margin-left: 40px;
  overflow: hidden;
}

#heroVideo {
  position: absolute;

  top: 20px;
  width: 100%;
  height: auto;
  min-width: 100%;
  min-height: 100%;
}

.headerTopCopy {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
}

.headerBottomCopy {
  margin-right: 190px;
}

.shortLine {
  width: 115px;
  border-bottom: solid 2px #ff005a;
  margin-top: 30px;
  margin-bottom: 30px;
}

.headerMainCopy {
  color: #ff005a;
  font-size: 89px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 86px;
  font-family: "din-2014-narrow", sans-serif;
  margin-top: 30px;
  margin-bottom: 30px;
}

.heroContainerForCopy {
  max-width: 610px;
  position: relative;
  top: 40px;
}

.heroContentCTAContainer {
  background: rgba(255, 0, 90, 0.23);
  display: flex;
  width: 436px;
  padding: 20px 40px;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 48px;
  margin-bottom: 48px;
}

.CTALeftCopy {
  margin-top: 0px;
  font-size: 16px;
}

.CTASignup {
  border-radius: 5px;
  background: var(--umndYellow, #fde9aa);
  display: flex;
  width: auto;
  height: 38px;
  font-family: "din-2014-narrow", sans-serif;
  justify-content: center;
  align-items: center;
  gap: 14px;
  flex-shrink: 0;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  padding: 10px 15px;
}

.CTAContainer {
  padding-bottom: 60px;
  position: relative;
  top: 40px;
}

.pt-70 {
  padding-top: 70px !important;
}
.pt-15 {
  padding-top: 15px;
}

.pt-25 {
  padding-top: 25px;
}

.pb-50 {
  padding-bottom: 50px !important;
}

.bodyContentSectionContainer {
  margin-left: 138px;
  margin-top: 50px;
}

.sectionHeader {
  color: var(--umndPrimaryRed, #ff005a);

  font-family: "din-2014-narrow", sans-serif;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  text-transform: uppercase;
  max-width: 790px;
}

.mediaOSContentContainer {
  display: flex;
  justify-content: flex-start;
  margin-top: 63px;
  align-items: center;
  padding-bottom: 70px;
  border-bottom: 2px solid #fde9aa;
}

.medianOSLeftContainer {
  margin-right: 70px;
}
.medianOSRightContainer {
  color: var(--wht, #fff);
  width: 477px;

  font-family: "din-2014", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
}
.whiteBodyCopy {
  color: var(--wht, #fff);
  width: 600px;
  padding-top: 30px;
  font-family: "din-2014", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
  padding-bottom: 70px;
}

.bold {
  font-weight: 700;
}

.treatmentChoiceContainer {
  padding-left: 20px;
}
.shortRedLine {
  width: 75px;
  border-bottom: 2px solid #ff005a;
}

.treatmentCopy {
  padding-bottom: 10px;
  width: auto;
}

.pt-10 {
  padding-top: 10px;
}

.pb-90 {
  padding-bottom: 90px !important;
  border-bottom: 2px solid #fde9aa;
}

.fiftyPercContainer {
  display: flex;
}

.pl-50 {
  padding-left: 50px;
}

.widthAuto {
  width: auto;
}

.ageFitnessContainer {
  margin-top: 125px;
  margin-bottom: 125px;
}

.novelModality {
  background-image: url("./assets/novelModality-ger.svg");
  background-repeat: no-repeat;
  background-position: center right;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%; /* This will make the section take the full height of the background image */
  margin-left: 138px;
}

.novelModalityContentContainer {
  width: 461px;
  height: 100%; /* Take up full height of parent */
  display: flex;
  align-items: center; /* Center content vertically */
  justify-content: flex-start; /* Align content to the left */
}

.novelModalityCopy {
  color: var(--wht, #fff);
  font-family: "din-2014-narrow", sans-serif;
  font-size: 38px;
  font-weight: 600;
  line-height: 36px;
  /* text-transform: lowercase; */
  margin-top: 200px;
  margin-bottom: 200px;
  padding-left: 10px;
}


.novelModalityCopy span {
  color: var(--umndPrimaryRed, #ff005a);
  font-size: 51px;
  text-transform: uppercase;
  position: relative;
  top: -9px;
}

.pb-75 {
  padding-bottom: 75px;
}

.signUPContainer {
  display: flex;
}

.signUpHeader {
  color: var(--umndPrimaryRed, #ff005a);
  font-family: "din-2014-narrow", sans-serif;
  font-size: 37px;
  font-style: normal;
  font-weight: 700;
  line-height: 37px; /* 100% */
  text-transform: uppercase;
  width: 222px;
}

.signUpContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  padding-left: 138px;
}

.signUpContent {
  margin-right: 50px;
}

.signUpHeader {
  margin: 0;
  padding: 0;
  /* Add additional styling for the header as needed */
}

.signUpForm {
  flex: 2;
  /* Add additional styling for form layout */
}

.requiredFieldNotice {
  margin-top: 0;
  color: #ff005a;
  /* Style as needed */
}

.signUpForm form {
  display: flex;
  flex-direction: column;
}

.signUpForm label,
.signUpForm input,
.signUpForm .checkboxContainer {
  margin-bottom: 10px; /* Adjust space between form items */
  color: #ffffff;
  font-family: "din-2014", sans-serif;
}

.checkboxContainer {
  display: flex;
  align-items: flex-start; /* Aligns the checkbox to the top of the container */
}

.checkboxContainer input[type="checkbox"] {
  margin-top: 0.3em; /* Adjusts the position of the checkbox slightly for better alignment */
  margin-right: 10px; /* Space between the checkbox and the label */
}

.checkboxContainer label {
  display: block;
  /* text-align: justify; */
  /* If you want to limit the width of the label text */
  max-width: 600px; /* Adjust the max-width as needed */
}

.signUpButton {
  border: none;
  display: flex;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  background: var(--umndYellow, #fde9aa);
  max-width: 206px;
  margin-top: 10px;
}

.signUpButton:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

.signUpBtnTxt {
  color: var(--umndPrimaryBlue, #000e3f);
  font-family: "din-2014-narrow", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 114.286% */
  text-transform: uppercase;
}

input[type="text"],
input[type="email"],
input[type="checkbox"] {
  background-color: #000525; /* Dark blue background */
  color: #ffffff; /* White text color for contrast */
  border: 1px solid #ffffff; /* Optional: white border */
  border-radius: 15px; /* Slightly rounded corners */
  padding: 10px; /* Some padding inside the input fields */

  width: calc(
    100% - 22px
  ); /* Full width with padding and border accounted for */
}

/* Styling for the checkbox specifically, if needed differently */
input[type="checkbox"] {
  background-color: transparent; /* Usually checkboxes have no background */
  border-radius: 0; /* Checkboxes don't typically have rounded corners */
  width: auto; /* Default width for checkboxes */
}

/* Placeholder color */
input::placeholder {
  color: #b0b0b0; /* Lighter placeholder text for visibility */
}

.footerContainer {
  color: var(--wht, #fff);
  font-family: "din-2014", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-left: 138px;
}

.footnotes {
  margin-top: 40px;
}

.footnotes p {
  position: relative;

  margin-bottom: 10px; /* Space between footnotes */
}

.footnotes p::before {
  content: attr(data-symbol);
  position: absolute;
  left: -7px;
  top: -3px;
  font-size: 9px;
}

.bottomCopy {
  margin-bottom: 22px;
}

.bottomFooter img {
  margin-bottom: 22px;
}
.references {
  margin-bottom: 40px;
}

.references b {
  font-weight: 700; /* Bold for reference numbers */
}

.references p {
  margin-bottom: 10px; /* Space between reference entries */
}

/* Additional style to ensure superscript numbers do not affect line height */
sup {
  vertical-align: super;
  font-size: 12px !important;
  font-size: smaller;
  line-height: 0; /* Reset line-height to avoid affecting the line */
}
input[type="email"],
input[type="checkbox"] {
  /* your existing styles */
  transition: border-color 0.3s; /* Smooth transition for color change */
}

label {
  /* your existing styles */
  transition: color 0.3s; /* Smooth transition for color change */
}
.customPadding {
  padding-top: 57px !important;
}

.thankyou{

  margin-left: 138px;
}

@media screen and (max-width: 768px) {

  .npi-hover-modal {
    display: none;
    position: absolute;
    bottom: 100%;
    right: 0px;
    top: -101px;
    left: -7px;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
  .thankyou{
    padding-left: 20px;
    margin-left: 0px;
  }
  .sectionHeader {
    font-size: 36px;
  }

  .signUpButton {
    max-width: 200px;
  }
  .CTASignup {
    width: 150px;
  }

  #heroGif {
    left: -20px;
    margin-bottom: -100px;
    position: relative;
    width: 100vw;
    max-width: 110vw !important;
  }

  .customPadding {
    padding-top: 31px !important;
  }

  #heroVideo {
    position: relative;
    /* right: -300px; */
    left: -19px;
    top: 0;
    margin-bottom: -91px;
    width: 100vw;

    height: auto;
    min-width: 100%;
    min-height: 100%;
  }
  .novelModalityCopy span {
    line-height: 1;
  }

  .customMobileMargin {
    margin-top: 36px !important;
  }
  .customContainerPadding {
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 20px;
    padding-right: 20px;
  }

  .mediaOSContentContainer {
    border-bottom: none;
  }
  .lungsMobile {
    width: 100vw;
    margin-left: -20px !important;

    margin-right: -20px !important;
    max-width: 117% !important;
  }

  .ml-0-mobile {
    margin-left: 0 !important;
  }
  .gradientContainer {
    background-image: url("./assets/circlegradient.svg");
    background-position: right -710px;
    background-repeat: no-repeat;
  }
  .ageFitnessContainer {
    margin-top: 0px;
    margin-bottom: 25px;
  }
  .shortLine {
    margin-bottom: 16px;
  }
  .pl-50 {
    padding-left: 0px;
  }

  .fiftyPercContainer {
    display: flex;
    flex-direction: column;
  }
  .whiteBodyCopy {
    width: auto;
    padding-right: 31px;
  }

  .medianOSRightContainer {
    width: auto;
  }
  .mediaOSContentContainer {
    gap: 50px;
    flex-direction: column;
    padding-bottom: 100px;
  }

  .heroContentCTAContainer {
    padding-left: 40px;
    padding-right: 40px;
  }
  .headerBottomCopy {
    margin-right: 0px;
  }
  .headerTopCopy {
    color: #ffffff;
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    margin-top: 0px;
    margin-right: 20px;
  }
  .headerMainCopy {
    font-size: 49px;
    line-height: 47px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #heroContent {
    padding-left: 0px;
    background-image: none;
    margin-left: 20px;
    overflow: visible;
  }

  .footerContainer {
    margin-left: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .bodyContentSectionContainer {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    /* margin-left: 0px; */
    margin-top: 100px;
    padding-right: 20px;
    border-bottom: 2px solid #fde9aa;
  }

  .novelModalityContentContainer {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }
  .CTAContainer {
    padding-bottom: 48px;
    position: relative;
    top: 40px;
    margin-left: -20px;
  }

  .novelModalityCopy {
    color: var(--wht, #fff);
    font-family: "din-2014-narrow", sans-serif;
    font-size: 38px;
    font-weight: 600;
    line-height: 36px;
    text-transform: lowercase;
    margin-top: -30px;
    margin-bottom: 100px;
  }
  .signUpHeader {
    width: auto;
  }
  .signUpContent {
    margin-right: 10px;
  }

  .novelModality {
    background-image: none;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
  }

  .heroContentCTAContainer {
    width: auto;
    margin-bottom: 0px;
    flex-direction: column;
    gap: 10px;
  }
  .signUpContainer {
    margin-left: 0px;
    padding-left: 20px;
    display: block;
  }

  .mobileCrossCircle {
    gap: 20px;
    flex-direction: row !important;
  }

  .mobile {
    display: block !important;
    margin: auto;
  }
  .desktop {
    display: none;
  }

  #header {
    padding-left: 20px;
  }
}
